body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #eefcfa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, repeat(3, 2fr), 1fr;
}

header input{
    height: 2em;
    width: 40em;
}

header img:first-child {
    padding: 2em;
    height: 7em;
    width: 12em;
}

nav ul{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
    transition-property: color, text-decoration, font-weight, font-size;
    transition-duration: 1s;
    transition-timing-function: steps(10);
}

nav ul li{
    background-color: #ffe928;
    transition-duration: 3s;
    transition-timing-function: ease;
    transition-property: background-color;
    background-color: #ffa67a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    box-sizing: border-box;
    border: solid 1px black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

nav ul:first-child{
    padding-left: 0;
}

header {
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #36D9C8;
    align-items: center;
}

header button{
    background-color: #FF884E;
    height: 3em;
    width: 12em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #36D9C8;
}

main{
    height: 80vh;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

main section{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}


main form {
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
  
    transition-duration: 3s;
    transition-timing-function: steps(5);
    transition-property: background-color;
}

input, textarea {
    background-color: #cdf6f1;
}

main > section:last-of-type{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#columna3 h2 {
    margin-top: 1em;
    justify-self: flex-start;
    margin-bottom: 1em;
}

#columna3 form {
    justify-self: flex-start;
}

main button {
    align-self: flex-end;
    height: 7%;
    width: 50%;
    background-color: #ffa67a;
    margin: 1em;
    border: solid #440FAD 1px;
    font-weight: 700;
    transition-duration: 3s;
    transition-timing-function: ease-in;
    transition-property: height, width, background-color;
}

button:hover{
    transition-duration: 0.5s;
    transition-timing-function: steps(2);
    transition-property: height, width, background-color;
    height: 14%;
    width: 70%;
    background-color: #36D9C8;

}

main form section {
    display: flex !important;
    flex-direction: row; 
    gap: 10px;
  }

main form:hover{
    background-color: #ffa67a;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition-property: background-color;
}

li:hover {
    background-color: #ffe928;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-property: background-color;
}

a:hover {
    transition-property: color, text-decoration, font-weight, font-size;
    transition-duration: 1s;
    transition-timing-function: steps(10);
    text-decoration: underline;
    color: #167268;
    font-weight: 800;
    font-size: large;
}