body {
    margin: 0;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: #eefcfa;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, repeat(3, 2fr), 1fr;
}

header input{
    height: 2em;
    width: 40em;
}

header img:first-child {
    padding: 2em;
    height: 7em;
    width: 12em;
}

nav ul{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav ul li{
    background-color: #ffa67a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    list-style-type: none;
    box-sizing: border-box;
    border: solid 1px black;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

nav ul:first-child{
    padding-left: 0;
}



header {
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #36D9C8;
    align-items: center;
}

header button{
    background-color: #FF884E;
    height: 3em;
    width: 12em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #36D9C8;
}

main section{
    height: 30vh;
    width: 100vw;
    box-sizing: border-box;
    border: 1px #440FAD solid;
    align-items: center;
    display: flex;
    flex-direction: row;
}

main section h2{

    width: 100%;
    text-align: justify;
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 2em;

    box-sizing: border-box;
    border: 2px #440FAD solid;
    background-color: #ffe1d3;
}



#fila2 h2{
    width: 100%;
    text-align: justify;
    align-self: flex-start;
    justify-content: flex-end;
    padding-left: 10em;
}

#fila2 {
    flex-direction: row-reverse;
}

iframe{
    padding: 4em;
    width: 60vw;
    height: 20vh;
}
